body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(80, 97, 41, 0.87);
}
.formularioDiv{
    background-color: rgb(100, 163, 114);
    margin: auto;
    margin-top: 30px;
    align-self: center;
    width: 1400px;
    height: 630px;
    box-shadow: 0 0 20px;
}
.e{
    text-align: center;
    height: 30px;
}
.titulo{
    height: 30px;
    padding: 20px;
    text-align: center;
}
.Demanda{
    background-color: rgba(52, 180, 69, 0.993);
    width: 270px;
    margin: 20px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 0 10px;
    float: left;
}
.Ventas{
    background-color: rgba(52, 180, 69, 0.993);
    width: 270px;
    height: 250px;
    margin: 20px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 0 10px;
    float: left;
}
.Compras{
    background-color: rgba(52, 180, 69, 0.993);
    width: 270px;
    height: 250px;
    max-width: 100%;
    margin: 20px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 0 10px;
    float: left;
}
.Lista{
    background-color: rgba(52, 180, 69, 0.993);
    width: 270px;
    height: 250px;
    max-width: 100%;
    margin: 20px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 0 10px;
    float: left;
}
.transporte{
    background-color: rgba(52, 180, 69, 0.993);
    width: 200px;
    height: 150px;
    margin: 20px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 0 15px;
    float: left;
}



.titulo_demanda,
.titulo_ventas,
.titulo_compras,
.titulo_transporte,
.titulo_lista{
    text-align: center;
    color: rgb(114, 91, 40);
    
} 
.formImput{
    border: 1px solid rgb(44, 155, 127);
    margin-bottom: 5px;
    padding: 5px;
    width: 120px;
}
.formImputTrans{
    border: 1px solid rgb(44, 155, 127);
    margin-bottom: 5px;
    padding: 5px;
    width: 187px;
}
.formButton{
    margin-top: 10px;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px;
    width: 200px;
}